*                     { margin: 0; padding: 0; }
body                  { font: 16px Georgia, serif; }

#page-wrap            { margin: 7% auto; color: white; }
#page-wrap > .main    { border: 1px #999; padding: 1%; margin-bottom: 10px; color: black; }

section > div         { padding: 20px;}
header, nav, section  { background: #F2F2F2; text-align: left;}
footer                { background: #A9F5BC; text-align: center;}
nav span              { margin: 0px 10px 0px 0px;}

p#Question	      { font-weight: bold; margin-bottom: 1em;  }

input#Question	      { margin-top: 1em; }
